.movies {}

.movies__list {
    flex-wrap: wrap;
    margin: auto;
    position: relative;
    align-items: flex-start;
    width: calc(100% - 20px);
    padding-top: 60px;
    padding-bottom: 60px;
}

#mobile__trailer__btn {
    color: white;
}

.infinite-scroll-component__outerdiv {
    height: auto;
    width: 100%;
}

.infinite-scroll-component__outerdiv::-webkit-scrollbar,
.infinite-scroll-component::-webkit-scrollbar {
    display: none;
}

.movies__list__flex {
    margin-top: 20px;
    position: relative;
    width: 100%;
}

.movies__list__flex:nth-child(1) {
    margin-top: 30px;
}

.movies__list__flex ul {
    height: 23vw;
    transition: 0.2s all;
}


.movie__element {

    width: calc(100% / 5 - 20px);
    overflow: hidden;
    margin-right: 20px;
    height: 100%;
    position: relative;
    transition: 0.3s all;
    background: rgba(0, 0, 0, 0.3);
    cursor: pointer;

}

.movie__element .mute__video {
    bottom: 30px;
    right: 15px;
    width: 40px;
    height: 40px;
    opacity: 0.7;

}

.movie__element__details {
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 99999;
    width: 100%;
    height: auto;
    -webkit-box-shadow: 0px 31px 34px 74px rgba(0, 0, 0, 0.61);
    -moz-box-shadow: 0px 31px 34px 74px rgba(0, 0, 0, 0.61);
    box-shadow: 0px 31px 34px 74px rgba(0, 0, 0, 0.61);
    opacity: 0;
    background: rgba(0, 0, 0, 0.6);
    transition: 1.5s all;
    pointer-events: none;
    justify-content: flex-end;
    align-items: flex-start;
    color: white;
    padding: 10px;
    padding-top: 0px;
}

.movie__element__details h2 {
    font-size: 16px;
    font-family: 'bold-font';
    padding-right: 20px;
    line-height: normal;
    margin-bottom: 5px;
}

.movie__element__details span figure {
    padding: 5px 10px 5px 10px;
    border: 1px solid white;
    margin-left: 10px;
    font-size: 15px;
    font-family: 'semi-font';
}

.movie__element__details span h3 {
    font-size: 15px;
    font-family: 'semi-font';
}

#movie__element__details--active {
    pointer-events: all;
    opacity: 1;
    transition: 0.4s all;
}

.movie__element__details__arrow {
    width: 30px;
    height: 30px;
    margin-top: 0px;
    margin: auto;
    margin-bottom: 5px;
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    transform: rotate(-45deg) skewy(10deg) skewx(10deg);
}




.video__wrapper {
    opacity: 0;
    transition: 1s all;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 999;
    pointer-events: none;
}

.video__wrapper .video {
    width: 200% !important;
    height: 200% !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#video__wrapper--active {
    opacity: 1;
}

.movie__element:nth-child(6n) {
    margin-right: 0px;
}

#movie__element--active {
    height: 30vw;
    width: 25vw;
    transition: 0.8 all;
    z-index: 999;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.movie__arrow__box {
    width: 100%;
    position: absolute;
    bottom: 10px;
    left: 50%;
    -webkit-box-shadow: 28px -1px 69px 69px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 28px -1px 69px 69px rgba(0, 0, 0, 0.5);
    box-shadow: 28px -1px 69px 69px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: 0.3s all;
    display: flex;
    justify-content: center;
    transform: translate(-50%);
}

.movie__arrow {
    position: absolute;
    left: 50%;
    width: 24px;
    height: 24px;
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    bottom: 10px;
    transform: rotate(-45deg) translate(-50%) skewy(10deg) skewx(10deg);


    transform: translate(-505);
}

#selected__row .movie__element:hover .movie__arrow__box {
    opacity: 1;
}

#selected__row .movie__element {
    border: 2px solid transparent;

}

#selected__row #movie__element--active {
    width: calc(100% / 5 - 20px);
    height: 100%;
    box-shadow: none;
    border: 2px solid white !important;
}

.movie__element img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.25s all;
}

/* movie preview component */
.movie__popup {
    width: 100%;
    position: absolute;
    transform-origin: top;
    height: calc(100vh - 15vw - 29px);
    min-height: 550px;
    top: calc(100% + 20px);
    transition: 0.45s all;
    background: black;
    color: white;
    opacity: 0;
    z-index: 9999999;
    overflow: hidden;
    transform: translate(0, 10%);
}

.movie__popup__sections {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 999;
    transition: 0.3s all;
    padding-left: 40px;
    padding-top: 55px;
    pointer-events: none;

}

.movie__popup__sections__shadow {
    width: 400px;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    background: black;
    -webkit-box-shadow: 66px 8px 102px 54px rgba(0, 0, 0, 1);
    -moz-box-shadow: 66px 8px 102px 54px rgba(0, 0, 0, 1);
    box-shadow: 66px 8px 102px 54px rgba(0, 0, 0, 1);
}

.movie__popup__sections header {
    font-size: 30px;
    position: relative;
    z-index: 99;
    margin-bottom: 40px;
}

.movie__preview__details {
    z-index: 99;
    position: relative;
}

.movie__preview__details ul h4 {
    font-size: 16px;
    opacity: 0.7;
    font-family: 'medium-font';
    margin-bottom: 10px;
}

.movie__preview__details ul {
    width: 350px;
    padding-right: 20px;
}

.movie__preview__details ul li {
    margin-bottom: 10px;
    font-size: 14px;
}

#movie__popup--active {
    transform: translate(0, 0%);

    opacity: 1;
}

.movie__popup__actions {
    height: auto;
    position: absolute;
    left: 580px;
    z-index: 9999;
    bottom: 0px;
    background-color: black;
    -webkit-box-shadow: 10px 10px 51px 45px rgba(0, 0, 0, 1);
    -moz-box-shadow: 10px 10px 51px 45px rgba(0, 0, 0, 1);
    box-shadow: 10px 10px 51px 45px rgba(0, 0, 0, 1);
    padding-left: 20px;
    padding-right: 20px;


}

.movie__popup__actions button {
    padding: 0px;
    padding-bottom: 10px;
    background: transparent;
    border: 0px;
    color: white;
    font-family: 'medium-font';
    font-size: 18px;
    opacity: 0.7;
    border-bottom: 5px solid transparent;
    margin-right: 30px;

    height: 100%;
}

.movie__popup__related {
    margin-top: 100px;
}

.movie__popup__related .slick-slider {
    width: 93%;
    max-width: 1700px;
}

.slick-slider {}

.slick-next:before,
.slick-prev:before {
    content: '' !important;

    display: none;
}

.slick-disabled {
    opacity: 0 !important;
    pointer-events: none;
}

.slick-next {
    border-top: 2px solid white !important;
    border-right: 2px solid white !important;
    transform: translate(0, -120%) rotate(45deg) !important;
    width: 25px !important;
    height: 25px !important;
    right: -50px !important;
    opacity: 0.7;
}

.slick-prev {
    border-top: 2px solid white !important;
    border-left: 2px solid white !important;
    transform: translate(0, -120%) rotate(-45deg) !important;
    width: 25px !important;
    height: 25px !important;
    opacity: 0.7;
}

.slick-list,
.slick-track,
.slick-track div {
    height: 100%;
}

/* the slides */
.slick-slide {
    padding-left: 10px;
    padding-right: 10px;
}

.movie__popup__related__item {
    height: 100%;


}

.movie__popup__related__item h3 {
    margin-top: 10px;
    opacity: 0.8;
    padding-right: 10px;
}

.movie__popup__related__item aside {
    border: 1px solid white;
    padding: 5px 0px 5px 0px;
    margin-left: 15px;
    width: 40px;

}

.movie__popup__related__item__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;

}

.movie__popup__related__item__img {
    width: 100%;
    cursor: pointer;
    margin-bottom: 15px;
    height: 200px;
    position: relative;

}

.movie__popup__related__item__img div {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: 0.2s all;
}

.movie__popup__related__item__img:hover div {
    opacity: 1;
    pointer-events: all;
}

.movie__popup__related__item__img svg {
    font-size: 50px;
    opacity: 0.8;
}

.movie__popup__overview {
    left: 0px;
    top: 0px;
    width: 100%;
   height: 100%;
    padding: 20px 20px 20px 40px;
    transition: 0.2s all;
    display: flex;
    flex-direction: column;
}

.movie__popup__overview .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.84);
    z-index: 999;
    transition: 0.3s all;
}

.movie__popup__overview__content {
    -webkit-box-shadow: 28px -1px 69px 69px rgba(0, 0, 0, 1);
    -moz-box-shadow: 28px -1px 69px 69px rgba(0, 0, 0, 1);
    box-shadow: 28px -1px 69px 69px rgba(0, 0, 0, 1);
    width: 450px;
    position: relative;
    height: 100%;
    padding-top: 30px;
    padding-right: 20px;
    z-index: 99;
    background: black;

}

.movie__popup__overview__content h2 {
    font-size: 30px;
    margin-bottom: 20px;
    color: rgba(255,255,255, 0.9);
}

.movie__popup__overview__content span {
    margin-bottom: 20px;
    width: 100%;

}

.movie__popup__overview__content p {
    color: rgba(255,255,255, 0.7);
   
    font-size: 18px;
    font-family: 'light-font';
    margin-bottom: 20px;
}

.movie__popup__overview__content span h4 {
    font-size: 18px;
    margin-right: 10px;
    font-family: 'medium-font';
    color: rgba(255,255,255, 0.8);
}

.movie__popup__overview__figure {
    border: 1px solid white;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;

}

.movie__popup__overview__actions {
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 4px;
    font-size: 18px;
}

.movie__popup__overview__actions svg {
    font-size: 24px;
    margin-right: 4px;
}

#movie__popup__overview__page {
    margin-right: 15px;
}

.movie__popup__close {
    background: transparent;
    color: white;
    border: 0px;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 999;
    transition: 0.2s all;
    cursor: pointer;
    z-index: 9999999;
}

.movie__popup__overview__close:hover {
    transform: scale(1.2);
}

.movie__popup__overview__close svg {
    font-size: 30px;
    color: white;
}

.movie__popup__overview__bg {
    width: calc(100% - 470px);
    height: calc(100% - 6px);
    position: absolute;
    right: 0px;
    top: 0px;
    top: 3px;
    z-index: 0;
}

.movie__popup__overview__video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.movie__popup__overview__video .mute__video {
    z-index: 999999;
    right: 40px;
    bottom: 40px;
    width: 45px;
    height: 45px;
}

.movie__popup__overview__video .video {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 145% !important;
    height: 145% !important;
}

.movie__popup__overview__bg img {
    width: 100%;
    object-fit: cover;
    height: 100%;

}



.movie__wrapper {
    position: relative;
}

#selected__row {

    position: relative;

    /* transition-delay: 0.3s; */
    z-index: 9999999;
}

#selected__row ul {
    height: 12vw;
}

#selected__row .movie__element {
    z-index: 9999999;
}

#selected__row__offset {
    position: absolute;
    top: -70px;
    pointer-events: none;
    width: 100%;
    height: 2px;

}

.movies__list__flex:last-child .selected__row__offset {}

@media only screen and (max-width: 1500px) {
    .movie__popup__overview {
        padding: 20px;
    }

    .movie__popup__overview__content {
        width: 350px;
    }

    .movie__popup__overview__content p,
    .movie__popup__overview__content span h4 {
        font-size: 16px;
    }

    .movie__popup__overview__figure {
        height: 25px;
        font-size: 14px;
    }

    .movie__popup__related {
        margin-top: 50px;
    }

    .movie__popup__overview__bg {
        width: calc(100% - 370px);
    }

    .movie__popup__actions {
        left: 400px;
    }

    .movie__popup__actions button {
        font-size: 14px;
    }

    .movie__element {
        width: calc(100% / 5 - 10px)
    }

    .movie__element:nth-child(5n) {
        margin-right: 0px;
    }


    .movies__list__flex ul {
        height: 27vw;
    }

    #movie__element--active {
        height: 34vw;
        width: 25vw;
    }

    #selected__row ul {
        height: 14vw;
    }

    .movie__popup {
        height: calc(100vh - 15vw - 86px);
      
    }

    #selected__row__offset {
        top: -80px;
    }
}


@media only screen and (max-width: 1200px) {
    .movie__element {
        width: calc(100% / 4 - 10px);
    }

    .movie__popup__sections header {
        font-size: 24px;
    }

    .movie__element:nth-child(4n) {
        margin-right: 0px;
    }

    .movies__list__flex ul {

        height: 34vw;
    }

    #movie__element--active {
        height: 41vw;
        width: 30vw;
    }

    #selected__row ul {
        height: 18vw;
    }

    #movie__popup {
        height: calc(100vh - 18vw - 90px);
    }

    #selected__row__offset {
        top: -70px;
    }
}


@media only screen and (max-width: 650px) {
    .movie__element {
        width: calc(100% / 2 - 5px) !important;
        margin-right: 10px;

    }

    .movies__list__flex {
        margin-top: 10px;
    }
    .movies__list__flex ul{
        height: 70vw;
    }
    .movie__element:nth-child(2n) {
        margin-right: 0px;
    }


    #selected__row ul {
        height: 37vw;
    }

    .movie__popup {
        height: auto;
        min-height: 0px;
        padding-bottom: 40px;
    }

    .movie__popup {
        top: calc(100% + 10px);
        transform: translate(0, 0);
    }
.movie__popup__overview__content{
    z-index: 0;
}
  .mobile__trailer{
   width: 100%;
   height: 50vw;
   margin-top: 50px;
  }
  .mobile__video{
      width: 100%!important;
      height: 100%!important;
  }
  .movie__popup__overview__content{
      box-shadow: none;
  }
  .movie__popup__actions{
      display: none;
  }
  .movie__popup__overview__content h2{
      font-size: 24px;
  }
  .movies__list__flex:nth-child(1){
      margin-top: 0px;
  }
  #selected__row__offset{
      top: -50px;
  }
  .movie__popup__close svg{
      font-size: 30px;
  }
  .movie__element img{
      object-position: top;
    
  }
}